plugin.twitter.name=ubicity-twitter-unwetter

plugin.twitter.search=true
# Elasticsearch settings for twitter plugin
plugin.twitter.elasticsearch.index=twitter_tags
plugin.twitter.elasticsearch.daily_index=false
plugin.twitter.elasticsearch.type=unwetter

plugin.twitter.oauth_consumer_key=encr:w+HrkcqlB22OiI+feaQmrZhKz2p8oU8pYJqdvlF38y8=
plugin.twitter.oauth_consumer_secret=encr:qk9pgHjqiTtRxXLvV5hcUHUtURRe0vWdEUpDyPcjGNUJQMK1lyR5E4cBpVHoyc7b
plugin.twitter.oauth_access_token=encr:/cAX4zUNHyXlODJ1ZIRTM0WkAAwTzjoO0bJX6/bqqcVX2I7Void60Hw1EdVVO4wJanPlITvRGpZvceuzPCx1yg==
plugin.twitter.oauth_access_token_secret=encr:e8UYmlBFeY8Pvv1Nzj6JKsWFvIq1vu2BEYhDSB5UR77u7gYOx4tKDecEMdhwWVgw

# Filter for locaction based on (long, lat) box (empty -> filter off)
plugin.twitter.filter.coord_min=
plugin.twitter.filter.coord_max=

# Text filter (empty -> filter off)
plugin.twitter.filter.track=#flut
plugin.twitter.filter.track=#unwetter
plugin.twitter.filter.track=#gewitter
plugin.twitter.filter.track=#hagel
plugin.twitter.filter.track=#wetterwarnung
plugin.twitter.filter.track=#regen
plugin.twitter.filter.track=#hochwasser
plugin.twitter.filter.track=#überschwemmung
plugin.twitter.filter.track=#pegel
plugin.twitter.filter.track=#donau

plugin.twitter.filter.track=#Aufraeumungsarbeiten
plugin.twitter.filter.track=#Ausnahmezustand
plugin.twitter.filter.track=#ueberschwemmung
plugin.twitter.filter.track=#ClimateChange
plugin.twitter.filter.track=#Dauerregen
plugin.twitter.filter.track=#donaupegel
plugin.twitter.filter.track=#Duerre
plugin.twitter.filter.track=#eisregen
plugin.twitter.filter.track=#Erdrutsch
plugin.twitter.filter.track=#Feuerwehrflood
plugin.twitter.filter.track=#flooding
plugin.twitter.filter.track=#Flutkatastrophe
plugin.twitter.filter.track=#Hochwasseralarm
plugin.twitter.filter.track=#Hochwasserhilfe
plugin.twitter.filter.track=#Hochwasserlage
plugin.twitter.filter.track=#Jahrhundertflut
plugin.twitter.filter.track=#Jahrhunderthochwasser
plugin.twitter.filter.track=#Katastrophenalarm
plugin.twitter.filter.track=#landslide
plugin.twitter.filter.track=#Pegelinformation
plugin.twitter.filter.track=#rain
plugin.twitter.filter.track=#regenfaelle
plugin.twitter.filter.track=#regenflle
plugin.twitter.filter.track=#rockslide
plugin.twitter.filter.track=#Salzach
plugin.twitter.filter.track=#sandsaecke
plugin.twitter.filter.track=#Starkregen
plugin.twitter.filter.track=#Sturmboeen
plugin.twitter.filter.track=#Sturmflut
plugin.twitter.filter.track=#sturmwarnung
plugin.twitter.filter.track=#Ueberschwemmung
plugin.twitter.filter.track=#Ueberschwemmungen
plugin.twitter.filter.track=#wasserstand
plugin.twitter.filter.track=#Wetterchaos

# Comma separated language filter (en, de, ...) (empty -> filter off)
plugin.twitter.filter.language=

plugin.twitter.broker.user=
plugin.twitter.broker.pwd=
plugin.twitter.broker.dest=/queue/ES.TWITTER-UNWETTER